* {
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

header{
    background-color: grey;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: lightblue;
    color: grey;
    padding: 10px 10px 10px 60px;
    margin: 5px 0 10px 0;
}

header nav {
    padding-top: 30px;
    margin-right: 40px;
    float: right;
    font-size: 20px;
}

nav a{
  padding: 10px;
  color: lightblue;
  font-weight: bold;
}

main{
  display: flex;
  flex-direction: column;
}

.beach-photo{
  position: relative;
  margin-bottom: 10px;
}

#beach-pic{
  height: 250px;
  width: 100%;
}

#subtitle{
  position: absolute;
  bottom: 10%;
  right: 10%;
  background-color: lightblue;
  color: grey;
  font-size: 28px;
  padding: 10px;
}

.about{
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

.about h1{
  height: 200px;
  width: 50px;
  justify-content: end;
  float: left;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  color: rgb(100, 100, 170);
}

.work{
  margin-bottom: 20px;
  display: flex;
}

.work h1{
  width: 50px;
  height: 1000px;
  float: left;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  color: rgb(100, 100, 170);
}

.images{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.images img{
  border-style: solid;
  border-color: lightblue;
  border-width: 5px;
  height: 200px;
  width: 400px;
  margin: 10px;
  opacity: .6;
}

#large-img{
  height: 400px;
  width: 800px;
}

.caption{
  position: relative;
}

.caption2, .caption3 {
  position: relative;
}

.caption figcaption {
  background-color: lightblue;
  padding: 10px;
  position: absolute;
  bottom: 10%;
  left: 1.2%;
}


.caption2 figcaption, .caption3 figcaption {
  background-color: lightblue;
  padding: 10px;
  position: absolute;
  bottom: 20%;
  left: 2.6%;
}

.image-text h3{
  margin-bottom: 8px;
}

.image-text p{
  font-size: 12px;
}

.contact{
  margin-bottom: 20px;
  width:100%;
}

.contact h1{
  width: 50px;
  height: 100px;
  justify-content: end;
  float: left;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  color: rgb(100, 100, 170);
}

.contact ul{
  padding-top: 30px;
  margin-right: 20px;
  font-size: 20px;
  list-style: none;
}

li{
  display: inline-block;
  padding: 0 50px 0 150px;
}

li a{
  color:rgb(100, 100, 170);
}

.images img:hover{
  opacity: 1;
}

@media screen and (max-width: 972px) {
  .contact h1, .work h1, .about h1 {
  justify-content: center;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border: none;
}
}

@media screen and (max-width: 972px) {
  header nav {
    display: none
}
}