* {
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

header{
    background-color: grey;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: lightblue;
    color: grey;
    padding: 10px 10px 10px 60px;
    margin: 5px 0 10px 0;
}

header nav {
    padding-top: 30px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

nav a{
  padding: 10px;
}

main{
  width: 100%;
}

.beach-photo{
  position: relative;
  margin-bottom: 10px;
}

#beach-pic{
  height: 250px;
  width: 100%;
}

#subtitle{
  position: absolute;
  bottom: 10%;
  right: 15%;
  background-color: lightblue;
  color: grey;
  font-size: 28px;
  padding: 10px;
}

.about{
  margin-bottom: 20px;
  padding: 50px;
  
}

.about h1{
  width: 50px;
  height: 200px;
  justify-content: end;
  float: left;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  color: blue;
}

.work{
  margin-bottom: 20px;
  padding: 50px;
}

.work h1{
  width: 50px;
  height: 800px;
  justify-content: end;
  float: left;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  color: blue;
}

.images img{
  border-style: solid;
  border-color: lightblue;
  border-width: 5px;
  height: 200px;
  width: 400px;
  margin: 10px
}

#large-img{
  height: 400px;
  width: 835px;
}
.regular-img{
  height: 100px;
}

.contact{
  margin-bottom: 20px;
  padding: 50px;
}

.contact h1{
  width: 50px;
  height: 200px;
  justify-content: end;
  float: left;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  color: blue;
}

.contact ul{
  padding-top: 30px;
  margin-right: 20px;
  font-size: 20px;
  list-style: none;
}

li{
  display: inline-block;
  padding: 0 30px 0 100px
}