* {
    margin:0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

header{
    background-color: grey;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: lightblue;
    color: grey;
    padding: 10px 10px 10px 60px;
    margin: 5px 0 10px 0;
}

header nav {
    padding-top: 30px;
    margin-right: 40px;
    float: right;
    font-size: 20px;
}

nav a{
  padding: 10px;
  color: lightblue;
  font-weight: bold;
}

main{
  display: flex;
  flex-direction: column;
}

.personal-photo{
  margin: 10px 10px;
  display: flex;
  justify-content: center;
}

#personal-pic{
  height: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
}


.about{
  margin-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

.about h1{
  height: 200px;
  width: 50px;
  justify-content: end;
  float: left;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  color: rgb(100, 100, 170);
}

.work{
  margin-bottom: 20px;
}

.work h1{
  width: 50px;
  height: 1000px;
  float: left;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  color: rgb(100, 100, 170);
}

.images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  flex: 0 0 400px;
  position: relative;
}

.images img{
  border-style: solid;
  border-color: lightblue;
  border-width: 5px;
  height: 200px;
  width: 400px;
  margin: 10px;
  opacity: .6;
}

#large-img{
  height: 400px;
  width: 800px;
}

.caption{
  position: relative;
}

.caption2, .caption3 {
  position: relative;
}

.caption figcaption {
  background-color: lightblue;
  padding: 10px;
  position: absolute;
  bottom: 10%;
  left: 1.2%;
}


.caption2 figcaption, .caption3 figcaption {
  background-color: lightblue;
  padding: 10px;
  position: absolute;
  bottom: 20%;
  left: 2.6%;
} 

.image-text h3{
  margin-bottom: 8px;
}

.image-text p{
  font-size: 12px;
}

.contact{
  margin-bottom: 20px;
  width:100%;
}

.contact h1{
  width: 50px;
  height: 100px;
  justify-content: end;
  float: left;
  margin-right: 25px;
  padding-right: 80px;
  padding-left: 5%;
  font-size: 30px;
  border-style: solid;
  border-width: 3px;
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  color: rgb(100, 100, 170);
}

.contact ul{
  padding-top: 30px;
  margin-right: 20px;
  font-size: 20px;
  list-style: none;
}

li{
  display: inline-block;
  padding: 0 50px 0 150px;
}

li a{
  color:rgb(100, 100, 170);
}

.images img:hover{
  opacity: 1;
}

@media screen and (max-width: 972px) {
  .contact h1, .work h1, .about h1 {
  border: none;}

  header nav {
    margin-bottom: 0px;
  }

  .images img{
    height: 100px;
    width: 200px;
  }

  #large-img{
    height: 200px;
    width: 400px;
  }

  #beach-pic, #subtitle{
   display: none;
  }

  .contact ul{
    display: inline-block;
  }
}